# OS
.DS_Store

# Go
/cli/sd
/cli/sd.exe
*.test
*.prof

# Node
node_modules/
npm/node_modules/
npm/.npm/

# Config files (for testing)
.stuntdouble.yaml

# IDE
.idea/
.vscode/

# Build Artifacts & Binaries
stuntdouble-*
/cli/stuntdouble-*
/control-plane/cp
/control-plane/cp-*
/core-ebpf/target/

# StuntDouble Local State
.stuntdouble.telemetry.json
.stuntdouble/
k8s-operator/bin/
